
    <header class="mb-auto justify-content-center">
      <div>
        <!-- <h3 class="float-md-start mb-0">S.E.G.C</h3> -->
        <nav class="nav nav-masthead justify-content-center ">
          <a class="nav-link <%=homeActive%>" href="/">Home</a>
          <a class="nav-link <%=docsActive%>" href="/documentation">API Docs</a>
          <a class="nav-link <%=featuresActive%>" href="/tendril">Tendril Finder</a>
          <a class="nav-link <%=contactActive%>" href="/contact">Sign Up</a>
          <a class="nav-link bolded" href="/signin"><bdi class = "bolded">Authorize</bdi></a>
        </nav>
      </div>
    </header>