<!-- START THE FEATURETTES -->
<div class="container marketing">
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">REST API with documentation. <span class="text-muted">Built to OpenAPI specifications with Swagger.</span></h2>
        <p class="lead">Browse numerous extragalactic databases with our easy-to-use tool. Building complex API requests and queries is made easy using our documentation</p>
      </div>
      <div class="col-md-5">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
        <img class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="restplacement.png">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">GraphQL API, with playground. <span class="text-muted">Hosted by Apollo Server</span></h2>
        <p class="lead">For those interested in the cutting edge of API design, our hosted data is queriable through a graphQL playground.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
        <img class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="graphql.png">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">The Tendril Finder. <span class="text-muted">Powered by Machine Learning.</span></h2>
        <p class="lead">Upload an environment file, and our algorithm does the rest. Finding and classifying Tendrils has never been this user friendly.</p>
      </div>
      <div class="col-md-5">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
        <img class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="tendril.png">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
