<!doctype html>
<html lang="en" class="h-100">

<head>
  <!-- this was not made by alex carney, all credits go to Bootstrap 5  -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.84.0">

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

  <title>Skidmore Catalog</title>
  <!-- <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cover/"> -->
  <!-- Bootstrap core CSS -->
  <!-- <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet"> -->

  <style>
    .bd-placeholder-img {
      background-image: url('https://live.staticflickr.com/3851/14582291897_395e0277cf_b.jpg');
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="cover.css" rel="stylesheet">

</head>

<body>

<div class="d-flex h-1000 text-center text-white bg-dark hero background-tint">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <%- include("partials/header", {homeActive: 'active', featuresActive: '', contactActive: '', docsActive:''}); -%>

      <main class="px-3">
        <h1>Skidmore Extragalactic Catalog</h1>
        <p class="lead">An API for querying data from numerous databases, along with access to our powerful Tendril
          Finder</p>
        <p class="lead">
          <a href="/api" class="btn btn-lg btn-secondary fw-bold border-white bg-white api-btn">Take Me There</a>
        </p>
      </main>

      <footer class="mt-auto text-white-50">
        <p>2021 Skidmore College Physics Department</p>
        <p style="margin-bottom: 0;">Made with TypeScript, NestJS, Docker, PostgreSQL, Prisma, Bootstrap, and more</p>
        <p style="margin-top: 0;">by Alex Carney</p>
      </footer>

  </div>
</div>


</body>

</html>